<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-gray-900 text-center mb-6">Productos más vendidos por supermercado</h1>
  
    <!-- Grid de supermercados -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-6">
      
      <!-- Supermercado 1 -->
      <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex justify-center">
          <img src="./img/Logo_Mercadona_(color-300-alpha).png" alt="Logo Mercadona" class="h-16">
        </div>
        <div class="mt-4 text-center">
          <img src="/src/assets/img/cocacola.png" alt="Coca Cola" class="h-32 mx-auto">
          <p class="mt-2 text-gray-700 font-medium">Producto 1</p>
        </div>
      </div>
  
      <!-- Supermercado 2 -->
      <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex justify-center">
          <img src="./img/pngwing.com.png" alt="Logo Lidl" class="h-16">
        </div>
        <div class="mt-4 text-center">
          <img src="./img/cocacola.png" alt="Coca Cola" class="h-32 mx-auto">
          <p class="mt-2 text-gray-700 font-medium">Producto 3</p>
        </div>
      </div>
  
      <!-- Supermercado 3 -->
      <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex justify-center">
          <img src="./img/Carrefour-logo-194F1D8890-seeklogo.com.png" alt="Logo Carrefour" class="h-16">
        </div>
        <div class="mt-4 text-center">
          <img src="./img/cocacola.png" alt="Coca Cola" class="h-32 mx-auto">
          <p class="mt-2 text-gray-700 font-medium">Producto 5</p>
        </div>
      </div>
  
      <!-- Supermercado 4 -->
      <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex justify-center">
          <img src="./img/jofer-logo-empresas-eroski.png" alt="Logo Eroski" class="h-16">
        </div>
        <div class="mt-4 text-center">
          <img src="./img/cocacola.png" alt="Coca Cola" class="h-32 mx-auto">
          <p class="mt-2 text-gray-700 font-medium">Producto 7</p>
        </div>
      </div>
  
      <!-- Supermercado 5 -->
      <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex justify-center">
          <img src="./img/logo-aldi-supermercados.png" alt="Logo Aldi" class="h-16">
        </div>
        <div class="mt-4 text-center">
          <img src="./img/cocacola.png" alt="Coca Cola" class="h-32 mx-auto">
          <p class="mt-2 text-gray-700 font-medium">Producto 9</p>
        </div>
      </div>
  
      <!-- Supermercado 6 -->
      <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex justify-center">
          <img src="./img/logoDIA_pastilla.png" alt="Logo Dia" class="h-16">
        </div>
        <div class="mt-4 text-center">
          <img src="./img/cocacola.png" alt="Coca Cola" class="h-32 mx-auto">
          <p class="mt-2 text-gray-700 font-medium">Producto 11</p>
        </div>
      </div>
  
    </div>
  </div>
  